<div class="panel panel-default">
  <div class="panel-body">

    <div class="page-header">
      <h1>List of all cars</h1>
    </div>

    <% if @cars.size > 0 %>
        <table class="table" id="list-table">
          <thead>
          <tr>
            <td>
              <button class="btn btn-normal" id="sort-id-btn" ng-click="sort('id', 'sort-id-btn')">
                # <span class="sort-dir">&and;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-brand-btn" ng-click="sort('brand', 'sort-brand-btn')">
                Brand <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-model-btn" ng-click="sort('model', 'sort-model-btn')">
                Model <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-mdate-btn" ng-click="sort('date', 'sort-mdate-btn')">
                Manifacture date <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-available-btn" ng-click="sort('available', 'sort-available-btn')">
                Availability <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-regnum-btn" ng-click="sort('regNumber', 'sort-regnum-btn')">
                Registration Number <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td></td>
          </tr>
          </thead>
          <tbody>
              <% @cars.each do |car| %>
                  <tr>
                    <td><%= car.id %></td>
                    <td><%= car.brand %></td>
                    <td><%= car.model %></td>
                    <td><%= car.manufactured_date %></td>
                    <td>
                      <% if car.is_available %>
                        <span class="glyphicon glyphicon-ok" ng-show="car.available"></span>
                      <% else %>
                        <span class="glyphicon glyphicon-remove" ng-hide="car.available"></span>
                      <% end %>
                    </td>
                    <td><%= car.registration_number %></td>
                    <td>
                      <%= link_to 'View', {controller: 'cars', action: 'show', id: car.id }, {:class => 'btn btn-primary action js-btn-car-view'} %>
                      <!-- <button type="button" class="btn btn-primary action js-btn-car-view" data-code="<%= car.id %>"><span class="glyphicon glyphicon-search"></span> View</button> <br>
                      <button type="button" class="btn btn-primary action"><span class="glyphicon glyphicon-edit"></span> Edit</button> <br>
                      <button type="button" class="btn btn-danger action""><span class="glyphicon glyphicon-trash"></span> Remove</button> <br> -->
                      <%= link_to 'Remove', {controller: 'cars', action: 'destroy', id: car.id}, {class: 'btn btn-danger action', method: :delete} %>
                    </td>
                  </tr>
              <% end %>
          </tbody>
        </table>

    <% else %>

        <div class="panel panel-primary panel-60" ng-hide="cars.length">
          <div class="panel-heading">
            <div class="panel-title">
              <span class="glyphicon glyphicon-question-sign"></span>&nbsp; &nbsp;Where is my list?
            </div>
          </div>

          <div class="panel-body">
            There are no cars registered at the moment. Use "<a href='/cars/new'>Add a car</a>" option to fill the database.
          </div>
        </div>

    <% end %>
  </div>
</div>