<% carNew = {:controller => 'cars', :action => 'new'} %>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="page-header">
      <h1>List of all cars</h1>
    </div>

    <% if @cars.size > 0 %>
        <table class="table" id="list-table">
          <thead>
          <tr>
            <td>
              <button class="btn btn-normal" id="sort-id-btn">
                # <span class="sort-dir">&and;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-brand-btn">
                Brand <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-model-btn">
                Model <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-mdate-btn">
                Manifacture date <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-available-btn">
                Availability <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td>
              <button class="btn btn-normal" id="sort-regnum-btn">
                Registration Number <span class="sort-dir">&nbsp;</span>
              </button>
            </td>
            <td></td>
          </tr>
          </thead>
          <tbody>
              <% @cars.each do |car| %>
                  <tr>
                    <td><%= car.id %></td>
                    <td><%= car.brand %></td>
                    <td><%= car.model %></td>
                    <td>
                      <% if car.manufactured_date %>
                        <%= car.manufactured_date.strftime("%Y-%m-%d") %></td>
                      <% else %>
                        No date
                      <% end %>
                    <td>
                      <% if car.is_available %>
                        <span class="glyphicon glyphicon-ok"></span>
                      <% else %>
                        <span class="glyphicon glyphicon-remove"></span>
                      <% end %>
                    </td>
                    <td><%= car.registration_number %></td>
                    <td>
                      
                   	  <% carViewPath = {controller: 'cars', action: 'show', id: car.id } %>
                      <%= link_to carViewPath, {:class => 'btn btn-primary action js-btn-car-view'} do %>
                      	<i class="glyphicon glyphicon-search"></i>
                      	View
                      <% end %>
					            <% carEditPath = {controller: 'cars', action: 'edit', id: car.id}%>                      
                      <%= link_to carEditPath, {:class => 'btn btn-primary action'} do %>
                      	<i class="glyphicon glyphicon-edit"></i>
                      	Edit
                      <% end %>
                      <% carDeletePath = {:controller => 'cars', :action => 'destroy', :id => car.id} %>
                      <%= form_tag carDeletePath, method: :delete do %>
                        <%= button_tag class: 'btn btn-danger action' do %>
                          <i class="glyphicon glyphicon-trash"></i>
                            Remove
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
          </tbody>
        </table>

    <% else %>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              <span class="glyphicon glyphicon-question-sign"></span>&nbsp; &nbsp;Where is my list?
            </div>
          </div>

          <div class="panel-body">
            There are no cars registered at the moment. Use "<%= link_to 'Add new car', carNew %>" option to fill the database.
          </div>
        </div>

    <% end %>
  </div>
</div>