<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1><%= @pageTitle %></h1>
    </div>
    <%= form_for @car do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-header panel-header-inline">
          <h2>General</h2>
        </div>

        <!--<label>Photo of the car</label> <br>-->
        <!--<div class="details-box">-->
        <!--<img ng-src="{{ car.photo64 }}" />-->
        <!--</div>-->

        <div class="row">
          <div class="col-md-6">
            <label>Brand of the car</label>
            <div class="details-box">
              <%= f.text_field :brand, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6">
            <label>Model of the car</label>
            <div class="details-box">
              <%= f.text_field :model, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for='car-date'>Manufactured Date</label>
            <div class="details-box">
              <%= f.date_select :manufactured_date, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6">
            <label for='car-regnumber'>Registration Number</label>
            <div class="details-box">
              <%= f.text_field :registration_number, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-header panel-header-inline">
          <h2>Availability</h2>
        </div>

        <div class="row available-row">
          <div class="col-md-6">
            Available:
            <%= f.radio_button :is_available, true %>
          </div>
          <div class="col-md-6">
            Not available:
            <%= f.radio_button :is_available, false %>
          </div>
        </div>
      </div>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-default pull-right' %>
    <% end %>
  </div>
</div>